body{
    counter-reset: game;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.container{
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    background-color: #CCEFFF;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.308), 0 15px 12px rgba(0, 0, 0, 0.308);
    overflow: hidden;
}

.layer-1{
    position: absolute;
    z-index: 1;
    height: 450px;
    width: 80px;
    background-color: white;
    bottom: 0;
    right: 60px;
}
.layer-2{
    position: absolute;
    z-index: 2;
    height: 450px;
    width: 80px;
    background-color: white;
    bottom: 0;
    left:60px;
}
.layer-3{
    position: absolute;
    z-index: 3;
    height: 400px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 220px;
    background-color: rgb(196, 149, 149);
}
.layer-4{
    position: absolute;
    z-index: 4;
    height: 350px;
    width: 80px;
    background-color: white;
    bottom: 0;
    left:60px;
}
.layer-5{
    position: absolute;
    z-index: 5;
    height: 300px;
    left: 0;
    bottom: 0;
    width: 220px;
    background-color: brown;
}
.layer-6{
    position: absolute;
    z-index: 6;
    height: 250px;
    width: 80px;
    background-color: white;
    bottom: 0;
    right: 10px;
}
.layer-7{
    position: absolute;
    z-index: 7;
    height: 200px;
    right: 0px;
    bottom: 0;
    width: 140px;
    background-color: rgb(202, 139, 139);
}
.layer-8{
    position: absolute;
    z-index: 8;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 140px;
    background-color: green;
}
.layer-9{
    position: absolute;
    z-index: 9;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: white;
}
.layer-10{
    position: absolute;
    z-index: 10;
    height: 100px;
    right:0;
    bottom: 0;
    width: 100px;
    background-color: white;
}
input:checked{
    counter-increment: game;
}
.total-count::after{
    content: counter(game);
}   